#wreckingball
{
    position: absolute;
    top: 0%;
    left: 75%;
}
#background
{
    background-size: cover;
    background-repeat: no-repeat;
}
#myCanvas
{
    border: 1px solid  black;
    background-color: #fffcbc;
}
body, html
{
    width: 100%;
    height: 100%;
}
#lives
{
    text-align: center;
}
#score
{
    text-align: center;
}
#title
{
    text-align: center;
}