#wreckingball
{
    position: absolute;
    top: 0%;
    left: 65%;
}
#startScreen
{
    background-image: url("brickWall.jpg");
    background-size: 100% 100%;
}
/*box around the slider*/

#myCanvas
{
	display: block;
    border: 1px solid  black;
    background-color: #fffcbc;
}
body
{
    width: 100%;
    height: calc(100% - 50px);
    /*height: auto;*/
}
#lives, #score, #title
{
    text-align: center;
}
.head
{
    display:inline-block;
}
.start_button
{
    text-align: center;
    width: 10%;
    left: 42%;
}
.panel_button
{
    text-align: center;
    width: 10%;
    left: 42%;
}
#settings
{
    background-color: #fbe19c;
}
h1
{
    text-align: center;
}
.title
{
    font-size: 5em;
    text-align: center;
}
#restartButton
{
    padding: 3%;
	background-color: #afc9c3;
	color: #ffffff;
	margin-top: 10px;
	font-size: 30px
}